.MainScreen-title {
    text-align: center;
    color: white;
    size: 40px;
    height: 50px;
    font-size: 40px;
    margin-bottom: 20px;
    padding-top: 40px;
}

#root {
    height: 100%;
}

.mainScreen {
    height: 100%;
    width: 100%;
    background-color: black;
    margin: 0;
}

.MainScreen-playButtonContainer {
    margin-top: 200px;
    width: 100px;
    height: 25px;
    margin: auto;
     background: white;
    text-align: center;
}

.button {
    cursor: pointer;
    line-height: 25px;
}

.MainScreen-playButtonContainer:hover {
	background: lightgray;
}
